langchain-community
langchain
langchain-text-splitters
langchain-huggingface
sentence-transformers
langchain-google-genai
python-multipart
langchain-chroma
sqlalchemy
PyJWT
fastapi
uvicorn
pymysql
pypdf